@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body{
    background-image: url("../img/wallpaper\ glitter\ rosa.jpg");
    background-repeat: repeat;
}

header .menu{
    background-color: #EC409A;
    width: 45vh;
    margin: auto;
    border-radius: 20px;
    margin-top: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header .menu img{
    width: 50%;
    border-radius: 20px;
    padding-top: 20px;
    
}

header .menu > a{
    text-align: center;
}

header .menu ul{
    display: flex;
    margin: auto;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    margin-top: 30px;
}

header .menu ul li{
    list-style: none;
    margin: 0px 10px;
}

header .menu ul li a{
    padding: 5px 7px;
    display: block;
    text-decoration: none;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-size: 16px;
}

header .menu ul li:first-child{
    background-color: rgba(214, 70, 166, 0.808);
    border-radius: 4px;
}

header .menu ul li a:hover{
   background-color: aliceblue;
   color: #EC409A;
   border-radius: 4px;
}

header .menu ul li span{
    display: block;
}

header .menu div{
    width: 100%;
    height: 15vh;
    background-image: linear-gradient(to top, rgba(255, 56, 189, 0.5), rgba(236, 64, 154, 1)),
                      url("../img/wallpaper\ glitter\ rosa.jpg");
    background-size: cover;
    background-position: center center; 
}

main .vendas, main .acessorios, main .calcados{
    background-color:#EC409A;
    width: 45vh;
    margin: auto;
    color: white;
}

main .vendas > div, main .acessorios{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}

main .vendas div > h3:nth-of-type(1){
    text-align: center;
    font-size: 15px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    padding: 10px 10px 40px 10px;
}

main .vendas div > .vendasSub{
    margin: 20px 0px;
}

main .vendas div > .vendasSub h4,  main .acessorios h4, main .calcados h4{
    text-align: center;
    padding: 60px 20px 25px 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

main .vendas div > .vendasSub img, main .calcados > div > div img{
    width: 100%;
}

main .vendas div > .vendasSub p, main .acessorios p, main .calcados p{
    font-size: 30px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-align: center;
    padding-top: 10px;
}

main .vendas form, main .acessorios form, main .calcados form{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}


main .vendas form input, main .acessorios form input, main .calcados form input{
    width: 100%;
    padding: 15px 8px;
    border-radius: 20px;
    font-size: 22px;
    margin:20px 0px;
    transition: all 0.5s;
    color: white;
    border: 1px solid white;
    background-color: #fa0081c5;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

main .vendas form input:hover, main .acessorios form input:hover, main .calcados form input:hover{
    background-color: #b8337831 ;
    transform: scale(0.95);
}

main .acessorios h3, main .vendas h3:nth-of-type(2), main .calcados > h3{
    font-size: 40px;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    padding: 0px 20px;
}

main .acessorios div > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main .acessorios div > div img{
    width: 90%;
}

main .calcados{
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

footer{
    color: white;
    text-align: center;
    background-color: #ec087e;
    width: 100%;
    margin: auto;
    padding: 20px 0px;
    margin-top: 12px;
}

@media  screen and (min-width:1000px) {
    
    header .menu{
        width: 1200px;
        
    }

    header .menu > a{
        width: 600px;
    }

    header .menu ul li a{
        padding: 28px 28px;
        font-size: 28px;
    }

    main > .vendas, main > .acessorios, main > .calcados {
        width: 1200px;
    }

    main > .vendas > div{
        display: flex;
        flex-direction: column;
    }

    main > .vendas > div > h3:first-child{
        font-size: 24px;
    }

    main > .vendas > div > h3:nth-of-type(2), main > .acessorios > h3,  main > .calcados > h3{
        font-size: 80px;
        padding: 30px 0px;
    }


    main > .vendas > div > div{
        display: flex;
        flex-direction: row;

    }

    main > .vendas > div > div > .vendasSub, main > .acessorios > div > div,  main .calcados > div > div{
        width: 350px;
        margin: 0px 15px;
    }

    main > .vendas > div > div > .vendasSub h4, main > .acessorios > div > div h4, main > .calcados > div > div h4{
        font-size: 22px;
    }

    main > .vendas > div > div > .vendasSub:nth-of-type(1) h4{
        margin-bottom: 30px;
    }

    main > .acessorios > div{
        display: flex;
        flex-direction: row;
    }

    main .acessorios > div > div p{
        margin-top: 30px;
    }

    main .acessorios > div > div:first-child img{
        margin-top: 35px;
    }

    main .acessorios > div > div:first-child p{

        margin-top: 56px;
    }

    main .acessorios > div > div:last-child p{

        margin-top: 62px;
    }

    main .calcados > div{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    main .calcados > div > div:nth-child(2) img, main .calcados > div > div:nth-child(3) img{
        margin-top: 30px;
    }

    footer{
        padding: 30px;
        width: 1200px;
        margin-bottom: 30px;
        border-radius: 20px;
    }
}

@media screen and (min-width: 740px) and  (max-width: 1000px){
    header .menu{
        width: 500px;
        
    }

    header .menu > a{
        width: 500px;
    }

    header .menu ul li a{
        padding: 28px 28px;
        font-size: 20px;
    }

    main .vendas, main .acessorios, main .calcados{
        width: 500px;
    }
}